use nix
dotenv_if_exists .env

export PHOTOGEN_ROOT="$PWD"
export RAW_WIFE_DIR="$PWD/data/raw/wife"
export PROCESSED_WIFE_DIR="$PWD/data/processed/wife-captions"
export MODEL_OUTPUT_DIR="$PWD/data/models"
export BASE_MODEL_DIR="$PWD/data/base-models"
export PREVIEW_OUTPUT_DIR="$PWD/data/output"
